a { 
    text-decoration: none ;
    font-family: Tahoma;
	font: normal;
	font-size: 16px;
	color:rgb(99,99,99);
	font-weight:bold;	
	cursor: pointer; 
}



a:hover { 
	cursor: hand;
	text-decoration: underline ;	
}

.footerPhrase{
	color: #C0C0C0;
	font-family: Tahoma;
	font: bold;
	font-size: 12px;
}

.ReverseTDDirection
{
    text-align: left;
}
.TDDirection{
	float: right;
}

.firstLevel{
	background-color: #F5FFFF;
}

.secondLevel{
	background-color: #DEF6EF;
	
}

.topBar{
	background-image: url(../../Images/Arabic/Login/Bar_Up.gif);
}

.midLevel{
	background-image: url(../../Images/Arabic/Login/BG_Body.gif);
}

.bottomBar{
	background-image: url(../../Images/Arabic/Login/Bar_Down.gif);
}

label{
	color: Dark Grey;
	font-family:"Arabic Transparent";
	font:bolder;
	font-size: 16px;
}

.subLabel{
	color: White;
	font-family: Tahoma;
	font: normal;
	font-size: 15px;
}

.overImage{
	cursor: pointer;
}

div{
	color: blue;
    font: bold;
	font-family: Tahoma;
	font-size: 14px;
}

.loginTitle{
	color: #EB6F0A;
	font-family: Tahoma;
	font-size: 22px;
	font: bold;
}

.bodyTable{
	float: left;
}

.loginButton{
	float: left;
}