a { 
    
    font-family:"Arial"; 
	 font-weight:  normal;
	font-size: 16px;
    text-decoration: none;
    cursor: pointer;
	color: blue;	 
}

a:hover { 
	 cursor:pointer ;
	text-decoration: underline ;	
}

.footerPhrase{
	color: #C0C0C0;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 10px;
}

.ReverseTDDirection{
	text-align: right;
}

.TDDirection{
	float: left;
}

.firstLevel{
	background-color: #F5FFFF;
}

.secondLevel{
	background-color: #DEF6EF;
	
}

.topBar{
	background-image: url(../../Images/English/Login/Bar_Up.gif);
}

.midLevel{
	background-image: url(../../Images/English/Login/BG_Body.gif);
}

.bottomBar{
	background-image: url(../../Images/English/Login/Bar_Down.gif);
}

label{
	color:rgb(99,99,99);
	font-family:"Arial";
	font-weight:bold;
	font-size: 13pt;
	
}

.subLabel{
	color: White;
	font-family: Verdana;
	font-weight: normal;
	font-size: 12px;
}

.overImage{
	cursor: pointer;
}

div{
	color:rgb(240,187,152);
   font-weight: bold;
	font-family: Verdana;
	font-size: 12px;
}

.loginTitle{
	color: #EB6F0A;
	font-family: Century Gothic;
	font-size: 20px;
	font-weight: bold;
}

.bodyTable{
	float: right;
}

.loginButton{
	float:left;
	cursor: pointer;
	background-image: url(../../Images/Icon_Login.gif);
}