a { 
    text-decoration: none ;
	color: rgb(99,99,99);	
	font-family:"Arial";  
}

a:hover { 
	cursor: hand;
	text-decoration: underline ;	
}

select {
	color: Dark Grey;
	font: normal;
	background-color: White;
	font-family:"Arial"; 
	border-bottom-width: thick;
	width: 220px;
	font-size: 13px;
}

.SelectInputSize{
    width: 350px;
}

.smallSelect{
	width: 150px;
}

.AMPMSelect{
    width: 50px;
}

input {
	
	font: normal;
	font-family:"Arial"; 
	font-size: 13px;
}

textArea {
	
	font: normal;
	font-family:"Arial"; 
	font-size: 13px;
}

.netAmountField{
	color: #29B42A;
	font-family:"Arial"; 
	font: bold;
	width: 83px;
	font-size: 12px;
}

.deletedItem{
	color: Red;
	font-family:"Arial"; 
	font: bold;
	width: 72px;
	font-size: 13px;
}

.midText{
	text-align: center;
}

th.pageTitle{
	background-color: White;
	
	font-size: 20px;
	height: 45px;
	font-family: Verdana;
}

th.popUpTitle{
	
	font-size: 20px;
	font-family: Verdana;
}

.innerTitle{
	
	font-family:"Arial"; 
	text-align: left;
	font: bold;
	font-size: 16px;
}

.itemName{
	color: #989898;
	font-family:"Arial"; 
	text-align: left;
	font: bold;
	font-size: 15px;
}

.innerTitle_2{
	color: DarkOrange;
	font-family:"Arial"; 
	text-align: left;
	font: bold;
	font-size: 16px;
}

.innerTitleOrange{
	
	font-family:"Arial"; 
	text-align: left;
	font: bold;
	font-size: 16px;
}

.orangeInnerTitle{
	
	font-family:"Arial"; 
	text-align: left;
	font: bold;
	font-size: 16px;
}

.otherColorInnerTitle{
	color: #577E7B;
	font-family:"Arial"; 
	text-align: left;
	font: bold;
	font-size: 16px;
}

td.largeDataTable{
	width: 95%;
}

td.mediumDataTable{
	width: 70%;
}

td.smallDataTable{
	width: 50%;
}

td.margin{
	width: 21px;
}

td.midSpace{
	width: 2%;
}

iframe{
	width: 100%;
}

table.data{
	background-color: White;
	color: #F89B69;
	font-size: 12px;
	font-family:"Arial"; 
	border-style: outset;
	border-width: thin;
	width: 100%;
	padding: 2;
}

.data th{
	background-color: #EAEAEA;
	color: #898989;
    font-size: 12px;
	font-family:"Arial"; 
	height: 20px;
}

.data td{    
	height: 30px;      
}

table.dataFrame{
	background-color: White;
	color: #F89B69;
	font-size: 12px;
	font-family:"Arial"; 
	padding: 2;
}

.dataFrame th{
	background-color: #EAEAEA;
	color: #898989;
	font-family:"Arial"; 
	font-size: 12px;
}

.dataFrame label{
	color: #F89B69;
}

.listIFrame{
	background-color: White; 
}

.backgroundTable{
	background-color: White;
}

.buttonAndSubmit{
	background: url(../../Images/Common/Orange/BG_Button.gif);
	
	font: bold;
	width: 70px;
    font-size: 13px;
    font-family:"Arial"; 
    cursor: hand;
}

.buttonAndSubmit_small{
	background: url(../../Images/Common/Orange/BG_Button.gif);
	
	font: bold;
	width: 40px;
    font-size: 13px;
    font-family:"Arial"; 
    cursor: hand;
}

.buttonAndSubmit_large{
	background: url(../../Images/Common/Orange/BG_Button.gif);
	
	font: bold;
	width: 150px;
    font-size: 13px;
    font-family:"Arial"; 
    cursor: hand;
}

.buttonAndSubmit_very_large{
	background: url(../../Images/Common/Orange/BG_Button.gif);
	
	font: bold;
	width: 200px;
    font-size: 13px;
    font-family:"Arial"; 
    cursor: hand;
}

.buttonAndSubmit:hover{
	background: url(../../Images/Common/Orange/BG_Button.gif);
	color: black;
	font: bold;
	width: 70px;
    font-family:"Arial"; 
	cursor: hand;
}

button.popUp{
	background-color: #EAEAEA;
	 
	width: 60px;
	font: bold;
	font-size: 13px;
	cursor: hand;
	border-bottom-color: #EAEAEA;
	border-right-color: #EAEAEA;
}

label{
	color: #989898;
	font-size: 16px;
	font-family:"Arial"; 
	
}

.label_2 {
	color: #F89B69;
	font-size: 12px;
	font-family:"Arial"; 
	
}

.subLabel{
	color: #FF8661;
	font-size: 13px;
	font-family:"Arial"; 
	font: normal;
}

div{
	color: Blue;	
	font-family:"Arial"; 
	font-size: 15px;
}

.errorMsg{
	color: blue;
	font: bold;
	font-family: Tahoma;
	font-size: 15px;
}

.inputError{
  color: blue;
	font: normal;
	font-family:"Arial"; 
	font-size: 13px;
}

th.tableTitle{
	background-color: #B1B1B1;
	color: White;
   font: bold;
	font-family:"Arial"; 
	font-size: 16px;
	text-align: left;
}

th.tableTitle_light{
	background-color: #EAEAEA;
	color: #898989;
   font: bold;
	font-family:"Arial"; 
	font-size: 12px;
	text-align: left;
}

th.tableTitle_dark{
	background-color: #989898;
	color: White;
   font: bold;
	font-family:"Arial"; 
	font-size: 16px;
	text-align: center;
}

th.tableTitle_2{
	background-color: #B1B1B1;
	color: White;
   font: bold;
	font-family:"Arial"; 
	font-size: 16px;
	text-align: center;
}

input.month{
	width: 32px;
}

input.year{
	width: 44px;
}

.hide{
	display: none;
}

.show{
	display: block;
}

.headerBackground{
	background : #EE981F;
}

.menuBackground{
	background-color: White;	
}

.footerBackground{
	background : White;
}

.payGatewayTitle{
	color: White;	
	font-family: Tahoma;
	font-size: 26px;
}

.welcomeNote{
	
}

.welcomePhrase{
	color: #989898;
	font-family: Tahoma;
	font: bold;
	font-size: 13px;
}

.signOutPhrase{
	color: #989898;
	font-family: Tahoma;
	font: bold;
	font-size: 12px;
	text-align: right;
}

.nameAndRole{
	color: #F89B69;
	font-family:"Arial"; 
	font: bold;
}

.menuItems{
	color: #989898;
	font-family: Tahoma;
	font: bold;
	font-size: 14px;
	cursor: hand;
}

.menuItemsOnClick{
	 
	font-family: Tahoma;
	font: bold;
	font-size: 14px;
}

.linkImage{
	cursor: hand;
}

.footerPhrase{
	color: #989898;
	font-family: Tahoma;
	font: bold;
	font-size: 11px;
}

.normalFont{
	color: #E37200;
	font: normal;
	font-family:"Arial"; 
	font-size: 12px;
}

.separate {
	margin-bottom : 0px;
	margin-top : 0px;
	padding-top : 0px;
	padding-bottom : 0px;
}

.anchorOnMouseOver{
	color: #F89B69;
	font: bold;
	text-decoration: underline; 
	font-family: Tahoma;
	font-size: 14px;
}

.anchorOnMouseOut{
	color: #989898;
	font: bold;
	text-decoration: none;
	font-family: Tahoma;
	font-size: 14px;
}

.imgWithNoHand{
	cursor: default;
}


label.newItem{
	color: #989898;
}

.newItem{
	color: #989898;
}

.newItemTextField{
	color: #989898;
	text-align: center;
	
}

body{
	scrollbar-face-color: #EAEAEA;
}

td.titleBodyDistance{
	height: 13px;
}

td.bodyButtonsDistance{
	height: 18px;
}

td.separator{
	background-color: #F26623;
	height: 1px;
	width: 0%;
}

td.searchSeparator{
	background-color: Scrollbar;
	height: 2px;
}

table.main{
	background-color: White;
	border-style: outset;
	border-color: DarkOrange;
	border-bottom: none;
	border-top: none;
	border-width: medium;
}

.textDirection{
	text-align: left;
}

.menuClient{
	width: 200px;
}

.pageBodyClient{
	width: 800px;
}

.menuAdmin{
	width: 240px;
}

.pageBodyAdmin{
	width: 760px;
}

.headerButtonsAlign{
	float: right;
}

.buttonAndSubmit_veryLarge{
	background: url(../../Images/Common/Orange/BG_Button.gif);
	 
	font: bold;
	width: 200px;
    font-size: 13px;
    font-family:"Arial"; 
    cursor: hand;
}


td.group9 {
  background-color: #DFDFDF;
	color: black;
	font-family: Tahoma;
	height: 10px;
  font: bold;
  

}

td.group8 {
  background-color:#D4D4D4 ;
	color: black;
	font-family: Tahoma;
	height: 10px;
  font: bold;

}

td.group7 {
  background-color:#BBBBBB ;
	color: black;
	font-family: Tahoma;
	height: 10px;
  font: bold;

}

td.group6 {
  background-color:#A8A8A8 ;
	color: black;
	font-family: Tahoma;
	height: 10px;
  font: bold;

}

td.group5 {
  background-color: #9A9A9A  ;
	color: white;
	font-family: Tahoma;
	height: 10px;
  font: bold;

}

td.group4 {
 background-color:#817F7F ;
	color: white;
	font-family: Tahoma;
	height: 10px;
  font: bold;
	
  

}

td.group3 {
 background-color:#606060 ;
	color: white;
	font-family: Tahoma;
	height: 10px;
  font: bold;
	
  

}

td.group2 {
 background-color:#403E3E ;
	color: white;
	font-family: Tahoma;
	height: 10px;
  font: bold;
	
  

}
td.group1 {
  background-color: #070707;
	color: white;
	font-family: Tahoma;
	font-size: 16px;
	font: bold;

}


td.header {
  background-color: #404040;
	color: white;
	font-family: Tahoma;
	height: 10px;
  font: bold;

}
td.reportdata {
  background-color: white;
	color: #F89B69;
	font-family: Tahoma;
	height: 9px;
	font: bold;
  font-size: 12px;
  

}

table.reportdata{
	background-color: #E8E8E8;
	color: #F89B69;
	font-size: 12px;
	font-family:"Arial"; 
	border-style: outset;
	border-width: thin;
	width: 100%;
	float: none;
	padding: 2;

}
td.topdata {
 
	color: #F89B69;
	font-family: Tahoma;
	height: 10px;
	font: bold;
  

}
td.topheader {

	color: black ;
	font-size: 16px;
	font-family: Tahoma;
	font: bold;
  

}
